header {
    background-color: var(--color-bg-primary);
    height: 70px;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container img {
    width: 30px;
}

.left-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item, .nav-item:hover {
    font-size: 16px;
    color: var(--color-font-primary);
    margin-right: 20px;
}